
.header {
    background-color: #0000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }
  
.header nav {
    display: flex;
    gap: 20px;
  }
  
  .header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .header nav a:hover {
    color: #CC2B52;
  }